[submodule "pelican-themes"]
	path = pelican-themes
	url = git@github.com:pperez/pelican-themes.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
